*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.layout {
    background-color: rgba(211, 211, 211, 0.884);
    display: grid;
    overflow: hidden;
    grid-auto-columns: 1fr;
    grid-auto-rows: repeat(7, 1fr);
    grid-template-areas:
      "one one one one one one one"
      "two four four four four four four"
      "two four four four four four four"
      "two four four four four four four";
  }
  .topNavbar {
    grid-area: one;
    height: 63px;
    
  }
  .sideNavigation {
    grid-area: two;
  }
  
  .mainBox {
    grid-area: four;
    overflow-x: auto;
  }